:root {
    --bs-body-font-family: 'Montserrat', sans-serif;

}

body{
    background-color: white;

}

.middle-box{
    min-height: 700px;

    border: 1px solid black;

    /* Animations */
    transition: transform 0.7s ease;
}

#start{
    
    /* Animations */
    transition: opacity 0.3s ease;
}

#player-container{
    position: absolute;
    
    display: none;
}
#player{
    border-radius: 25px;
    overflow: hidden;
    /*pointer-events: none;*/
}
